# Analytics Academy of Data Corner

#### Introduction to Python Programming

## Lab Activity 1

Add an introduction using Markdown with following info:

* Your full name
* Today Date



Write a Line of python code to print “Hello World”

My name is Laura Gutiérrez and today is  Friday, July 28.

In [1]:
print("Hello World")

Hello World

In [ ]:
# how to find your jupyter path

In [2]:
pwd

'/content'

# varibales

In [3]:
numOfBoxes = 12
ownerName = "Sofia"
print("numOfBoxes= ", numOfBoxes)
print("ownerName= ", ownerName)

numOfBoxes=  12
ownerName=  Sofia

# Lists

In [4]:
# Lists
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

print ("=============")

# prints out 1, 2, 3
for x in mylist:
  print(x)

1
2
3
=============
1
2
3

## Lab Activity 2

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the string variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [6]:
numbers =[]
strings= []
names = ["John","Eric","Jessica"]

In [9]:
#write your code here

numbers.append(1)
numbers.append(2)
numbers.append(3)
strings.append("hello")
strings.append("world")

In [10]:
second_name= names[1]  ## write your code here

In [11]:
#this code should  write out the filled arrays and the second name in the names list (Eric)

print (numbers)
print (strings)
print ("The second name on the names list is %s" % second_name)

[1, 2, 3, 1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# Basic Operators

In [14]:
# Arithmetic Operators
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [15]:
remainder = 11 % 3
print(remainder)

2

In [16]:
# Using two multiplication symbols makes a power relationship
squared = 7 ** 2
cubed = 2 ** 3
print (squared)
print(cubed)

49
8

# Conditions

In [17]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [18]:
name = "John"
age = 23
if name == "John" and age == 23:
  print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
  print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [19]:
# the "in" operaton

name = "John"
if name in ["John", "Rick"]:
  print("Your name is either John or Rick.")

Your name is either John or Rick.

## Lab Activity 3

In the following code, change the variables in the first section, so that each if statement resolves as True.
You should generarte the follwoing output:

1

2

3

4

In [20]:
number = 17
second_number = 10
first_array = [1,2,3]
second_array= [1,2]

In [21]:
if number > 15:
    print ("1")

1

In [22]:
if first_array:
    print ("2")

2

In [23]:
if len (second_array)==2 :
    print ("3")

3

In [24]:
if len (first_array) + len (second_array)==5:
    print ("4")

4

# Loops

In [25]:
primes = [2, 3, 5, 7]
for prime in primes:
  print(primes)

[2, 3, 5, 7]
[2, 3, 5, 7]
[2, 3, 5, 7]
[2, 3, 5, 7]

In [26]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
  print(count)
  count += 1 # This is the same as count = count + 1

0
1
2
3
4

In [27]:
# Prints out 0,1,2,3,4

count = 0
while True:
  print(count)
  count += 1
  if count >= 5:
    break

# Prints out only odd numbers - 1,3,5,7,9
for x in range (10):
  #Check if x is even
  if x % 2 == 0:
    continue
  print(x)

0
1
2
3
4
1
3
5
7
9

# Lab Activity 4

Write a loop to calculate the factorial for the value stored in varibale inputVar

In [28]:
inputVar = 5

In [37]:
factorial = 0
x = 0
while x <= inputVar:
  if x == 0:
    factorial = 1
  else:
    factorial = factorial * x
  x += 1

In [38]:
print(factorial)

120




# Working with data frames in Python

In [1]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#---- if you need to install any python packagaes

#import sys
#!{sys.executable} -m pip install numpy

## Loading data into a dataframe

In [8]:
pwd

'/content'

In [9]:
dfMain = pd.read_csv("Loans_Dataset.csv")

In [10]:
dfMain.shape

(233154, 29)

In [11]:
dfMain.head(10)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,1/1/1984,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,598,I-Medium Risk,1,1,1,27600,50200,50200,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,305,L-Very High Risk,3,0,0,0,0,0,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,9/12/1977,Self employed,...,0,No Bureau History Available,0,0,0,0,0,0,1,1
5,518279,54513,61900,89.66,67,22807,45,1501,8/9/1990,Self employed,...,825,A-Very Low Risk,2,0,0,0,0,0,0,0
6,529269,46349,61500,76.42,67,22807,45,1502,1/6/1988,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
7,510278,43894,61900,71.89,67,22807,45,1501,4/10/1989,Salaried,...,17,Not Scored: Not Enough Info available on the c...,1,1,0,72879,74500,74500,0,0
8,490213,53713,61973,89.56,67,22807,45,1497,15-11-91,Self employed,...,718,D-Very Low Risk,1,1,0,-41,365384,365384,1,0
9,510980,52603,61300,86.95,67,22807,45,1492,1/6/1968,Salaried,...,818,A-Very Low Risk,1,0,0,0,0,0,0,0

In [12]:
dfMain["Employment.Type"].head()

0         Salaried
1    Self employed
2    Self employed
3    Self employed
4    Self employed
Name: Employment.Type, dtype: object

In [13]:
dfMain["asset_cost"].describe()

count    2.331540e+05
mean     7.586507e+04
std      1.894478e+04
min      3.700000e+04
25%      6.571700e+04
50%      7.094600e+04
75%      7.920175e+04
max      1.628992e+06
Name: asset_cost, dtype: float64

In [14]:
dfMain.dtypes

UniqueID                           int64
disbursed_amount                   int64
asset_cost                         int64
ltv                              float64
branch_id                          int64
supplier_id                        int64
manufacturer_id                    int64
Current_pincode_ID                 int64
Date.of.Birth                     object
Employment.Type                   object
DisbursalDate                     object
State_ID                           int64
Employee_code_ID                   int64
MobileNo_Avl_Flag                  int64
Aadhar_flag                        int64
PAN_flag                           int64
VoterID_flag                       int64
Driving_flag                       int64
Passport_flag                      int64
PERFORM_CNS.SCORE                  int64
PERFORM_CNS.SCORE.DESCRIPTION     object
PRI.NO.OF.ACCTS                    int64
PRI.ACTIVE.ACCTS                   int64
PRI.OVERDUE.ACCTS                  int64
PRI.CURRENT.BALANCE                int64
PRI.SANCTIONED.AMOUNT              int64
PRI.DISBURSED.AMOUNT               int64
NO.OF_INQUIRIES                    int64
loan_default                       int64
dtype: object

# Filtering based on Conditions:


Datasets can be filtered using different conditions, which can be implemented using logical operators in python. For example, == (double equal to), ≤ (less than or equal to), ≥(greater than or equal to), etc.

In [15]:
dfMain[(dfMain['Employment.Type'] == "Salaried")]

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,1/1/1984,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
6,529269,46349,61500,76.42,67,22807,45,1502,1/6/1988,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
7,510278,43894,61900,71.89,67,22807,45,1501,4/10/1989,Salaried,...,17,Not Scored: Not Enough Info available on the c...,1,1,0,72879,74500,74500,0,0
9,510980,52603,61300,86.95,67,22807,45,1492,1/6/1968,Salaried,...,818,A-Very Low Risk,1,0,0,0,0,0,0,0
11,486821,64769,74190,89.23,67,22807,45,1446,7/9/1984,Salaried,...,786,B-Very Low Risk,3,2,0,676,36154,23374,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233148,613494,42894,60334,72.93,34,20700,48,1051,8/7/1993,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
233149,626432,63213,105405,60.72,34,20700,48,1050,1/8/1988,Salaried,...,735,D-Very Low Risk,4,3,0,390443,416133,416133,0,0
233151,613658,33484,71212,48.45,77,22186,86,2299,1/6/1976,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
233152,548084,34259,73286,49.10,77,22186,86,2299,26-03-94,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
233153,630213,75751,116009,66.81,77,22186,86,2299,18-02-84,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0

In [16]:
dfMain[(dfMain['Employment.Type'] == "Salaried") & (dfMain['branch_id'] == 100)]

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,NO.OF_INQUIRIES,loan_default
192434,620818,58259,77933,76.99,100,18731,86,644,15-02-68,Salaried,...,710,D-Very Low Risk,2,1,0,556026,556026,556026,0,0
192436,433804,56259,65761,88.20,100,18731,86,631,1/1/1984,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
192437,648534,59213,68817,88.64,100,20571,86,638,10/8/1984,Salaried,...,673,F-Low Risk,6,1,0,-52,50000,21105,0,0
192439,627548,74079,103777,73.23,100,21335,51,656,5/6/1988,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
192445,530872,61213,75321,83.64,100,24273,86,650,10/8/1969,Salaried,...,752,C-Very Low Risk,3,2,0,1644411,1678000,1678000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227668,645514,70123,96795,73.35,100,21335,51,652,15-10-96,Salaried,...,17,Not Scored: Not Enough Info available on the c...,1,1,0,17500,21000,21000,0,0
227670,585715,59259,74652,80.37,100,24273,86,657,1/10/1981,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
229687,637911,26681,66032,40.89,100,24273,86,646,1/7/1971,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0
229689,647168,71123,96418,74.67,100,24273,86,668,25-09-88,Salaried,...,721,D-Very Low Risk,5,2,0,13302,75089,75089,1,0
230511,634676,46349,68817,69.75,100,20571,86,629,1/7/1987,Salaried,...,0,No Bureau History Available,0,0,0,0,0,0,0,0

# Lab Activity 5
Filter the dfMain based on the follwoing conditions:

asset_cost > 8000 and loan_default=1

How many records exists with this condition?

In [24]:
records = dfMain[(dfMain["asset_cost"] > 8000) & (dfMain['loan_default'] == 1)]

In [26]:
print(len(records))

50611